{% extends "base.html" %}

{% block title %}Link List{% endblock %}

{% block content %}
    <h2>Your links</h2>

    <ul class="list-group list-group-flush">
        {% for link in links %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small class="text-muted">And some muted small print.</small>
            </a>
        {% empty %}
            <p>You have no added links yet.</p>
        {% endfor %}
    </ul>

{% endblock %}